html,body {
  margin:0;
  height:100%;
  background:#777 url(../img/body-bg.png) repeat top center;
  background-attachment:fixed;
}

hr.space {
  border:1px solid transparent;
}


/* NAVBAR
 * ====== */
.navbar-inner {
  margin:0 auto;
  height:50px;
  width:1000px;
}
.navbar .brand {
  margin-top:2px;
  height:30px;
  line-height:30px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:25px;
  font-weight:300;
  color:#fff;
}
.navbar-logo {
  float:left;
  margin:-8px 7px 0 -28px;
}


/* PAGE
 * ==== */
#page-wrap {
  position:relative;
  margin:0 -30px 0 -30px;
  padding:0 30px 0 30px;
  min-height:500px;
  background-color:#fff;
  -webkit-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
     -moz-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
}

    
/* CONTENT
 * ======= */ 
#content {
  margin:50px -20px 0 -20px;
  padding:20px 20px 20px;
  min-height:500px;
}
  #content h1,
  #content h2,
  #content h3 {
    margin-bottom:0.67em;
    line-height:1.1em;
    font-weight:300;
  }
  #content h1 { font-size:32px; }
  #content h2 { font-size:28px; }
  #content h3 { font-size:24px; }
  
  #content h1 > a,
  #content h2 > a,
  #content h3 > a {
    color:#333;
    text-decoration:none;
  }
    #content h1 > a:hover,
    #content h2 > a:hover,
    #content h3 > a:hover {
      color:#08c;
      text-decoration:underline;
    }
  
  
  #content .thumbnail > .caption {
    font-size:11px;
  }

/* CONTENT BANNER
 * ============== */
#content-banner {
  margin:-20px -30px 20px;
/*  width:750px;*/
/*  min-height:240px;*/
  background-color:#000;
  overflow:hidden;
}
  #content-banner > img {
    float:left;
  }
  
/* CONTENT BANNER CAROUSEL
 * ======================= */  
#content-banner > .carousel {
  margin-bottom:0;
}
  #content-banner > .carousel > .carousel-control {
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    opacity:0;
  }
  #content-banner > .carousel:hover > .carousel-control {
    opacity:0.5;
  }

  
/* FOOTER
 * ====== */ 
footer {
  margin:0 -20px 0 -30px;
  padding:30px 20px 30px 30px;
/*  width:720px;*/
  background-color:#222;
  color:#fff;
}



/* SIDENAV HEADER
 * ============== */

#sidenav-header {
  position:fixed;
  z-index:1031;
  margin-right:-30px;
/*  width:250px;*/
  height:50px;
  /* Background Gradient */
  background-color: #cc0000;
  background-image: -moz-linear-gradient(top, #dd0000, #bb0000);
  background-image: -ms-linear-gradient(top, #dd0000, #bb0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd0000), to(#bb0000));
  background-image: -webkit-linear-gradient(top, #dd0000, #bb0000);
  background-image: -o-linear-gradient(top, #dd0000, #bb0000);
  background-image: linear-gradient(top, #dd0000, #bb0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd0000', endColorstr='#cc0000', GradientType=0);
}
 #sidenav-header-logo {
   width:250px;
   height:50px;
   background:url(../img/header-cmu-logo.png) center center no-repeat;
 }


/* SIDENAV CONTENT
 * =============== */
 
/* Viewport wraps the content. Necessary for jQuery NiceScroll. */
#sidenav-content-viewport {
  position:fixed;
  margin:50px 0 0;
  width:250px;
  outline:none;
  background-color:#eee;
}
#sidenav-content {}

/* SIDENAV CONTENT LINKS
 * ===================== */
#sidenav-content ul {
  margin:0;
  list-style:none;
}
  #sidenav-content ul > li > a,
  #sidenav-content ul > li > b,
  #sidenav-content ul > li > span {
    display:block;
    padding:5px 10px;
    border-bottom:1px solid #ddd;
  }
    #sidenav-content ul > li > a:hover {
      text-decoration:none;
      background-color:#08c;
      color:#fff;
    }
    #sidenav-content ul > li > span {
      color:#666;
    }

  #sidenav-content > ul > li > ul > li > a,
  #sidenav-content > ul > li > ul > li > b,
  #sidenav-content > ul > li > ul > li > span {
    padding-left:20px;
  }
  
  #sidenav-content > ul > li > a:after {
    content:" »";
  }

/* SIDENAV SEARCH
 * ============== */
#sidenav-search {
  padding-top:10px !important;
  padding-bottom:10px !important;
}
#sidenav-search > form,
#sidenav-search > form > .input-append,
#sidenav-search > form > .input-append > input {
  margin:0;
}
  #sidenav-search > form > .input-append > input { width:180px }




/* NEWS LIST
 * ========= */
 
 
/* PUBLICATIONS
 * ============ */
ul#publications {
  margin:0;
  list-style:none;
}
  ul#publications > li {
    margin-bottom:2em;
  }